################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dreziny/.vs/Dreziny.slnx/FileContentIndex
/Dreziny/dreziny/obj/Debug
/Dreziny/.vs/Dreziny.slnx/v18/.suo
/Dreziny/.vs/Dreziny.slnx/config/applicationhost.config
