################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dreziny/.vs/
/Dreziny/dreziny/obj/Debug
/Dreziny/Drezina/Drezina.Server/obj
