.dashboard-container {
    background-image: url('/dashboard-2.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100vh;
    width: calc(100vw - 220px);
    overflow-y: auto;
    box-sizing: border-box;
}
@media (max-width: 640px) {
    .dashboard-container {
        width: 100vw;
    }    
}

.description-paragraph {
    margin-bottom: 15px;
}